[user]
  name = sesta
  email = sesta.ec5@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[pull]
  rebase = false
[alias]
  br = branch
  bra = branch -a
  brd = branch -d
  co = checkout
  com = checkout master
  st = status
  lg = log --graph --oneline --color
  df = diff
  pl = pull
  plo = pull origin
  plm = pull origin master
  ps = push
  pso = push origin
  psm = push origin master
  fe = fetch
  fep = fetch --prune
  cm = commit
  cmv = commit -v
  cmav = commit -av
  rb = rebase
  rbm = rebase master
  rbum = rebase upstream/master
  mg = merge
  mgnf = merge --no-ff
  cp = cherry-pick
  rs = reset
  rsone = reset --soft HEAD~
  rsm = reset --hard origin/master
  rem = remote
  rema = remote add
  remao = remote add origin
  remau = remote add upstream
  remso = remote set-url origin
  remsu = remote set-url upstream
  uia = update-index --assume-unchanged // ファイルを無視する
  uina = update-index --no-assume-unchanged

  stash-fuck = !git checkout --ours . && git reset && git checkout .
  delete-merged-branch = !git br --merged | grep -E 'feature/|fix/' | xargs git brd
  hoo = !git com && git fep && git plm && git bra
  yeah = !git com && git fep && git plm && git delete-merged-branch && git bra

