[user]
  name = sesta
  email = sesta.ec5@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[alias]
  br = branch
  co = checkout
  com = checkout master
  st = status
  lg = log --graph --oneline --color
  df = diff
  pl = pull
  plm = pull origin master
  ps = push
  psm = push origin master
  fe = fetch
  cm = commit
  cmv = commit -v
  cmav = commit -av
  rb = rebase
  rbm = rebase master
  rbum = rebase upstream/master
  mg = merge
  mgnf = merge --no-ff
  cp = cherry-pick
  rs = reset
  rsone = reset --soft HEAD~
  rsm = reset --hard origin/master
  rem = remote
  rema = remote add
  remao = remote add origin
  remau = remote add upstream
  remso = remote set-url origin
  remsu = remote set-url upstream
